#atuacao-bloco {
    text-align: center;
    background-color: $green;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
    height: 100vh;

    @media all and (max-width: 768px) {
        height: auto;
        padding: 50px 0;
        margin-bottom: -60px;
    }

    .center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;

        @media all and (max-width: 768px) {
            width: 90%;
            margin: auto;
            position: relative;
            left: auto;
            top: auto;
            transform: none;
        }

        p {
            font-size: 19px;
            font-weight: 300;
            line-height: 24px;
            color: $orange;
            margin-bottom: 35px;
        }

        h2 {
            font-size: 58px;
            font-weight: 300;
            line-height: 66px;
            color: #fff;
            margin: 0 auto 35px auto;
            color: $yellow;

            @media all and (max-width: 768px) {
                font-size: 35px;
                line-height: 40px;

                br {
                    content: '';

                    &::after {
                        content: ' ';
                    }
                }
            }
        }

        a {
            color: $green;
            background-color: #fff;
            border-radius: 100px;
            font-size: 15px;
            padding: 15px 20px;
            text-decoration: none;
            margin-top: 34px;
            display: inline-block;

            svg {
                margin-left: 11px;
            }

            &:hover {
                background: $green;
                color: #fff;

                svg {
                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }

    .imagegrow {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        z-index: 1;
        transform-origin: bottom center;
        transform: scale(0);
        background-position: center;
    }
}