#insigths-contacto {
    margin-top: 30px;

    .container {
        display: flex;

        @media all and (max-width: 768px) {
            display: block;
        }

        .col {
            border-radius: 10px;
            overflow: hidden;
            position: relative;

            &.l {
                height: 315px;
                width: calc(43% - 20px);
                margin-right: 20px;
                background-color: #EFE8DF;

                @media all and (max-width: 768px) {
                    width: 100%;
                    height: auto;
                    margin-bottom: 20px;
                }

                .inside {
                    padding: 40px;
                    position: relative;
                    z-index: 10;
                    height: calc(100% - 80px);

                    @media all and (max-width: 768px) {
                        padding: 30px;
                    }

                    p {
                        font-size: 15px;
                        font-weight: 300;
                        line-height: 24px;
                        color: #fff;
                        margin-bottom: 12px;
                        color: $orange;
                    }

                    h2 {
                        font-size: 37px;
                        font-weight: 300;
                        line-height: 42px;
                        color: $green;


                        @media all and (max-width: 768px) {
                            font-size: 30px;
                            line-height: 36px;
                        }
                    }

                    a {
                        width: 33px;
                        height: 33px;
                        border: 1px solid #fff;
                        border-radius: 50%;
                        position: absolute;
                        right: 40px;
                        bottom: 40px;
                        background: #fff;

                        svg {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);

                            path {
                                fill: $green;
                                stroke: $green;
                            }
                        }

                        &:hover {
                            background: $green;

                            svg {
                                path {
                                    fill: #fff;
                                    stroke: #fff;
                                }
                            }
                        }
                    }
                }
            }

            &.r {
                width: 57%;

                @media all and (max-width: 768px) {
                    width: 100%;
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}