#insigths-top {
    width: 100%;
    height: 100vh;
    position: relative;

    @media all and (max-width: 768px) {
        height: auto;
        padding: 110px 0 30px 0;
    }

    .video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $green;
            z-index: 1;
            opacity: .8;
        }

        video {
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        max-width: $maxwidth;

        @media all and (max-width: 768px) {
            position: relative;
            left: auto;
            top: auto;
            transform: none;
            max-width: none;
        }

        .top {
            padding-bottom: 37px;
            margin-bottom: 37px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background: #fff;
                opacity: .2;
            }

            .subtitle {
                font-size: 19px;
                font-weight: 300;
                line-height: 24px;
                display: flex;
                align-items: center;
                margin-bottom: 32px;
                color: #fff;

                .circle {
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    margin-right: 8px;
                    display: inline-block;
                }

                @media all and (max-width: 768px) {
                    font-size: 16px;
                    margin-bottom: 20px;
                }
            }

            h1 {
                font-size: 58px;
                font-weight: 300;
                line-height: 62px;
                max-width: 670px;
                color: #fff;

                strong {
                    color: $orange;
                }

                @media all and (max-width: 768px) {
                    font-size: 35px;
                    line-height: 40px;
    
                    br {
                        content: '';
    
                        &::after {
                            content: ' ';
                        }
                    }
                }
            }
        }

        .bottom {
            display: flex;
            justify-content: flex-end;

            .text {
                max-width: 440px;
                font-size: 15px;
                font-weight: 300;
                line-height: 22px;
                color: #fff;
            }
        }
    }
}