@font-face {
  font-family: 'head regular';
  src: url('fonts/VWHeadWeb-Regular.woff2') format('woff2'),
       url('fonts/VWHeadWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'head bold';
  src: url('fonts/VWHeadWeb-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'head extrabold';
  src: url('fonts/VWHeadWeb-ExtraBold.woff2') format('woff2'),
       url('fonts/VWHeadWeb-ExtraBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'head light';
  src: url('fonts/VWHeadWeb-Light.woff2') format('woff2'),
       url('fonts/VWHeadWeb-Light.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'text regular';
  src: url('fonts/VWTextWeb-Regular.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'text bold';
  src: url('fonts/VWTextWeb-Bold.woff2') format('woff2'),
       url('fonts/VWTextWeb-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'text light';
  src: url('fonts/VWTextWeb-Light.woff2') format('woff2'),
       url('fonts/VWTextWeb-Light.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@mixin text-h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 64px;
}

@mixin text-h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 48px;
}

@mixin text-h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
}

@mixin text-body {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

@mixin text-small {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

@mixin text-link {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

@mixin text-small-link {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}

@mixin text-caption {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

@mixin text-button {
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
}

@mixin text-label {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

@mixin text-caps {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
}

@mixin text-small-caps {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
}