$maxwidth_big: 1920px;
$maxwidth_small: 1370px;
$yellow: #FFFB00;
$blue: #11192E;
$white: #EBE5DC;

@import 'utils/reset';
@import 'utils/fonts';
@import 'common/footer';
@import 'common/insc-overlay';
@import 'pages/phase1';
@import 'pages/blank';

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'text regular';
    background-color: $yellow;
    color: $blue;

    #smooth-content.lock-scroll { overflow: hidden !important; height: 100vh; }

    &.locked {
        pointer-events: none !important;
        cursor: wait !important;
    }

    &.modal-open {
        position: fixed;
        overflow: hidden !important;
        width: 100%;
    }

    .container {
        width: 95%;
        max-width: $maxwidth_small;
        margin: auto;
        position: relative;

        @media all and (max-width: 768px) {
            width: 90%;
        }
    }

    .button {
        background: $yellow;
        font-family: 'head bold';
        font-size: 24px;
        text-transform: uppercase;
        color: $blue;
        padding: 26px;
        border-radius: 10px;
        text-decoration: none;
        display: inline-block;
        transition: all .2s;

        @media only screen and (max-width: 580px) {
            font-size: 22px;
            padding: 20px;
        }

        &:hover {
            background: $blue;
            color: $yellow;
        }

        &.invert {
            background: $blue;
            color: $yellow;
            border: 1px solid $blue;

            &:hover {
                background: $yellow;
                color: $blue;
            }
        }

        &.white {
            background: $blue;
            color: $yellow;
            border: 1px solid $blue;

            &:hover {
                background: $white;
                color: $blue;
            }
        }
    }

    a {
        &:hover {
            transition: all .3s;
        }
    }
}