$maxwidth: 1440px;
$yellow: #FFFB00;
$blue: #11192E;

@import 'utils/reset';
@import 'utils/fonts';
@import 'pages/phase1';

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'text regular';
    background-color: #F8F9F7;

    .container {
        width: 95%;
        max-width: $maxwidth;
        margin: auto;
        position: relative;

        @media all and (max-width: 768px) {
            width: 90%;
        }
    }

    .button {
        background: $yellow;
        font-family: 'head bold';
        font-size: 24px;
        text-transform: uppercase;
        color: $blue;
        padding: 26px;
        border-radius: 10px;
        text-decoration: none;
        display: inline-block;

        &:hover {
            background: $blue;
            color: $yellow;
        }
    }

    a {
        &:hover {
            transition: all .3s;
        }
    }
}