#home-atuacao {
    margin-top: 54px;
    margin-bottom: 38px;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media all and (max-width: 768px) {
            display: block;
        }

        .subtitle {
            font-size: 19px;
            font-weight: 300;
            line-height: 24px;
            display: flex;
            align-items: center;
            margin-bottom: 32px;

            .circle {
                width: 11px;
                height: 11px;
                border-radius: 50%;
                margin-right: 8px;
                display: inline-block;
            }

            @media all and (max-width: 768px) {
                font-size: 16px;
            }
        }

        .col {
            max-width: 785px;

            h2 {
                font-size: 37px;
                font-weight: 300;
                line-height: 44px;
                margin-bottom: 30px;

                @media all and (max-width: 768px) {
                    font-size: 35px;
                    line-height: 40px;
                }
            }

            a {
                font-size: 15px;
                font-weight: 300;
                color: $green;
                text-decoration: none;
                border: 1px solid $green;
                border-radius: 100px;
                padding: 13px 25px;
                display: inline-block;
                transition: all .3s;

                svg {
                    margin-left: 8px;
                }

                &:hover {
                    background: $green;
                    color: #fff;

                    svg {
                        path {
                            fill: #fff;
                            stroke: #fff;
                        }
                    }
                }
            }
        }
    }

    .items {
        margin-top: 136px;

        @media all and (max-width: 768px) {
            margin-top: 46px;
        }

        .item {

            .top {
                padding: 8px 25px;
                position: relative;
                cursor: pointer;

                h3 {
                    font-size: 19px;
                    font-weight: 300;
                    line-height: 24px;

                    &.claro {
                        color: #fff;
                    }

                    @media all and (max-width: 768px) {
                        font-size: 15px;
                    }
                }

                svg {
                    position: absolute;
                    right: 25px;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: all .5s;
                }

                &.open {
                    svg {
                        transform: translateY(-50%) rotate(180deg);
                    }
                }
            }

            &:first-child {
                .top {
                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }
            }

            .content {
                position: relative;
                padding: 180px 0;
                overflow: hidden;
                transition: all .5s;
                display: flex;
                align-items: center;

                @media all and (max-width: 768px) {
                    padding: 60px 0;
                }

                &.nopadding {
                    padding: 0;
                    height: 0;
                }

                /*&::before {
                    background-color: #fdfdfd;
                    content: "";
                    height: 100%;
                    left: 0;
                    opacity: .8;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    z-index: 1;
                }*/

                video {
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: 0;
                }

                .videooverlay {
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: 1;
                    opacity: .5;
                }

                .title {
                    font-size: 58px;
                    font-weight: 300;
                    line-height: 62px;
                    color: $green;
                    position: relative;
                    z-index: 2;
                    width: 95%;
                    margin: auto;

                    @media all and (max-width: 768px) {
                        font-size: 35px;
                        line-height: 41px;
                        margin: 0;
                        margin-top: -10px;
                    }
                }

                .separator {
                    position: relative;
                    width: 95%;
                    height: 1px;
                    background-color: #002B311A;
                    margin: 32px auto;
                    position: relative;
                    z-index: 2;

                    @media all and (max-width: 768px) {
                        margin: 10px 0 20px 0;
                    }
                }

                .text {
                    font-size: 19px;
                    font-weight: 300;
                    line-height: 24px;
                    max-width: 440px;
                    margin: auto;
                    position: relative;
                    z-index: 2;

                    @media all and (max-width: 768px) {
                        font-size: 16px;
                    }
                }

                .inside {
                    width: 100%;

                    @media all and (max-width: 768px) {
                        width: 90%;
                        margin: auto;
                    }

                    &.claro {
                        .title, .text {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}