#home-insights {
    margin-top: 95px;

    @media all and (max-width: 768px) {
        margin-top: 60px;
    }

    .top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 32px;

        @media all and (max-width: 768px) {
            display: block;
        }

        .subtitle {
            font-size: 19px;
            font-weight: 300;
            line-height: 24px;
            display: flex;
            align-items: center;

            .circle {
                width: 11px;
                height: 11px;
                border-radius: 50%;
                margin-right: 8px;
                display: inline-block;
            }

            @media all and (max-width: 768px) {
                font-size: 16px;
            }
        }

        h2 {
            font-size: 58px;
            font-weight: 300;
            line-height: 62px;
            color: $green;

            @media all and (max-width: 768px) {
                font-size: 35px;
            }
        }

        a {
            color: $green;
            background-color: #EFE8DF;
            border-radius: 100px;
            font-size: 15px;
            padding: 15px 20px;
            text-decoration: none;
            margin-top: 34px;
            display: inline-block;
            border: 1px solid #EFE8DF;
            transition: all .3s;

            svg {
                margin-left: 11px;
            }

            &:hover {
                background: $green;
                color: #EFE8DF;

                svg {
                    path {
                        fill: #EFE8DF;
                    }
                }
            }

            @media all and (max-width: 768px) {
                display: none;
            }
        }
    }

    .insigths {
        display: flex;
        justify-content: space-between;

        @media all and (max-width: 768px) {
            display: block;
        }

        .item {
            border-radius: 10px;
            width: 49%;
            background-color: #EFE8DF;
            height: 640px;
            position: relative;
            background-size: cover;
            background-position: center;

            @media all and (max-width: 768px) {
                height: auto !important;
                width: 100%;
                margin-bottom: 20px;
            }

            .inside {
                padding: 45px;

                @media all and (max-width: 768px) {
                    padding: 25px;
                }

                .top {
                    display: block;

                    @media all and (max-width: 768px) {
                        margin-bottom: 50px;
                    }

                    p {
                        font-size: 15px;
                        font-weight: 300;
                        line-height: 24px;
                        color: $orange;
                        margin-bottom: 15px;
                    }

                    h2 {
                        font-size: 37px;
                        font-weight: 300;
                        line-height: 44px;
                        color: $green;
                        max-width: 70%;

                        @media all and (max-width: 768px) {
                            font-size: 25px;
                            line-height: 35px;
                            max-width: none;
                        }
                    }
                }

                .bottom {
                    position: absolute;
                    left: 45px;
                    bottom: 45px;
                    width: calc(100% - 90px);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    @media all and (max-width: 768px) {
                        position: relative;
                        bottom: auto;
                        width: 100%;
                        left: auto;
                    }

                    .date {
                        font-size: 12px;
                        font-weight: 300;
                        line-height: 22px;
                        text-transform: uppercase;
                        color: $green;

                        @media all and (max-width: 768px) {
                            font-size: 10px;
                        }
                    }

                    a {
                        color: $green;
                        background-color: #EFE8DF;
                        border-radius: 100px;
                        font-size: 15px;
                        padding: 15px 20px;
                        text-decoration: none;
                        display: inline-block;
                        border: 1px solid $green;
                        transition: all .3s;

                        @media all and (max-width: 768px) {
                            font-size: 13px;
                            padding: 10px 15px;
                        }

                        svg {
                            margin-left: 11px;

                            @media all and (max-width: 768px) {
                                margin-left: 6px;
                                width: 10px;
                                position: relative;
                                top: 1px;
                            }
                        }

                        &:hover {
                            background: $green;
                            color: #EFE8DF;

                            svg {
                                path {
                                    fill: #EFE8DF;
                                    stroke: #EFE8DF;
                                }
                            }
                        }
                    }
                }
            }

            &.white {
                .inside {
                    .top {

                        p,
                        h2 {
                            color: #fff;
                        }
                    }

                    .bottom {
                        a {
                            position: relative;
                            overflow: hidden;
                            transition: all .3s;

                            &::before {
                                content: '';
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                background: $green;
                                opacity: .3;
                                transition: all .3s;
                            }

                            span,
                            svg {
                                position: relative;
                            }

                            border: none;
                            background: none;
                            color: #fff;

                            svg {
                                path {
                                    fill: #fff;
                                    stroke: #fff;
                                }
                            }

                            &:hover {
                                &::before {
                                    opacity: 1;
                                }
                            }
                        }

                        .date {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    .botlink {
        color: $green;
        background-color: #EFE8DF;
        border-radius: 100px;
        font-size: 15px;
        padding: 15px 20px;
        text-decoration: none;
        margin-top: 34px;
        display: inline-block;
        border: 1px solid #EFE8DF;
        transition: all .3s;
        display: none;

        @media all and (max-width: 768px) {
            display: inline-block;
        }

        svg {
            margin-left: 11px;
        }

        &:hover {
            background: $green;
            color: #EFE8DF;

            svg {
                path {
                    fill: #EFE8DF;
                }
            }
        }
    }
}