#home-sociedade {

    margin-top: 65px;

    @media all and (max-width: 768px) {
        margin-top: 40px;
    }

    .top {

        padding-bottom: 46px;
        margin-bottom: 26px;
        border-bottom: 1px solid #D6D6D6;

        @media all and (max-width: 768px) {
            padding-bottom: 31px;
        }

        .subtitle {
            font-size: 19px;
            font-weight: 300;
            line-height: 24px;
            display: flex;
            align-items: center;
            margin-bottom: 32px;

            .circle {
                width: 11px;
                height: 11px;
                border-radius: 50%;
                margin-right: 8px;
                display: inline-block;
            }

            @media all and (max-width: 768px) {
                font-size: 16px;
            }
        }

        h2 {
            font-size: 58px;
            font-weight: 300;
            line-height: 62px;

            @media all and (max-width: 768px) {
                font-size: 35px;
                line-height: 40px;

                br {
                    content: '';

                    &::after {
                        content: ' ';
                    }
                }
            }

            strong {
                color: $orange;
            }
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;

        @media all and (max-width: 768px) {
            display: block;
        }

        .col {
            p {
                font-size: 19px;
                font-weight: 300;
                line-height: 24px;
                max-width: 440px;

                @media all and (max-width: 768px) {
                    margin-bottom: 20px;
                }
            }

            &.r {
                p {
                    font-size: 15px;
                    font-weight: 300;
                    line-height: 22px;
                }

                a {
                    color: $orange;
                    background-color: #EFE8DF;
                    border-radius: 100px;
                    font-size: 15px;
                    padding: 15px 20px;
                    text-decoration: none;
                    margin-top: 34px;
                    display: inline-block;
                    transition: all .3s;

                    svg {
                        margin-left: 11px;
                    }

                    &:hover {
                        background: $orange;
                        color: #fff;

                        svg {
                            path {
                                fill: #fff;
                            }
                        }
                    }
                }
            }
        }
    }

    .image {
        margin-top: 82px;

        @media all and (max-width: 768px) {
            margin-top: 62px;
        }

        p {
            font-size: 12px;
            font-weight: 300;
            line-height: 22px;
            color: #9A9A9A;
            margin-bottom: 8px;
        }

        img {
            width: 100%;
            border-radius: 10px;
        }
    }
}