#home-top {
    width: 100%;
    height: 100vh;
    position: relative;

    @media all and (max-width: 768px) {
        height: auto;
    }

    .video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $green;
            z-index: 1;
            opacity: .5;
        }

        video {
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .container {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        width: 95%;
        max-width: $maxwidth;
        color: #fff;
        padding-top: 20px;

        @media all and (max-width: 768px) {
            position: relative;
            bottom: auto;
            left: auto;
            transform: none;
            width: 90%;
            max-width: none;
            padding-top: 100px;
            padding-bottom: 30px;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 1px;
            background: #fff;
            opacity: .2;

            @media all and (max-width: 768px) {
                top: 79px;
            }
        }

        .col {

            &.l {
                max-width: 555px;

                p {
                    font-size: 15px;
                    font-weight: 300;
                    line-height: 22px;
                    margin-bottom: 60px;

                    @media all and (max-width: 1024px) {
                        max-width: 450px;
                    }

                    @media all and (max-width: 768px) {
                        font-size: 15px;
                        line-height: 22px;
                        margin-bottom: 30px;
                    }
                }

                h1 {
                    font-size: 90px;
                    font-weight: 300;
                    line-height: 87px;
                    margin-top: 70px;
                    display: block;

                    @media all and (max-width: 1024px) {
                        font-size: 75px;
                        line-height: 86px;
                        margin-top: 58px;
                    }

                    @media all and (max-width: 768px) {
                        font-size: 52px;
                        line-height: 55px;
                        margin-top: 0;
                        position: relative;
                        padding-top: 30px;
                    }
                }
            }

            &.r {
                text-align: right;
                position: absolute;
                right: 0;
                top: 20px;

                @media all and (max-width: 768px) {
                    position: relative;
                    right: auto;
                    top: auto;
                    text-align: left;
                    margin-top: 60px;
                }

                .mapcontainer {
                    @media all and (max-width: 768px) {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                    }
                }

                p {
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 17px;
                    text-transform: uppercase;
                }

                .time {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    margin-bottom: 70px;

                    svg {
                        margin: 0 5px;
                    }

                    @media all and (max-width: 768px) {
                        display: block;
                        margin-bottom: 20px;
                    }
                }

                .map {
                    background-color: #fff;
                    border-radius: 22px;
                    width: 209px;
                    text-align: center;
                    padding: 7px 0;
                    margin-bottom: 16px;
                    transition: all .3s;

                    img {
                        border-radius: 16px;
                    }

                    .link {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin: 10px 0;
                        padding: 4px 10px 0px 10px;

                        svg {
                            position: relative;
                            top: 2px;
                            transition: all .3s;
                        }
                    }

                    a {
                        color: $green;
                        text-decoration: none;
                        transition: all .3s;
                    }

                    &:hover {
                        background-color: $orange;

                        .link {
                            svg {

                                path {
                                    fill: #fff;
                                }
                            }
                        }

                        a {
                            color: #fff;
                        }
                    }
                }

                .links {
                    display: flex;
                    justify-content: space-between;

                    @media all and (max-width: 768px) {
                        display: block;
                    }

                    a {
                        width: 45%;
                        position: relative;
                        font-size: 15px;
                        font-weight: 300;
                        line-height: 24px;
                        color: #fff;
                        text-decoration: none;
                        border-radius: 100px;
                        text-align: center;
                        padding: 7px 0;
                        cursor: pointer;

                        @media all and (max-width: 768px) {
                            width: 100px;
                            display: block;
                            margin-bottom: 16px;
                            margin-right: 0;
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background-color: $green;
                            border-radius: 100px;
                            opacity: .3;
                            transition: opacity .3s;
                            z-index: -1;
                        }

                        &:hover {
                            &::before {
                                opacity: 1;
                            }
                        }
                    }

                    @media all and (max-width: 768px) {
                        justify-content: flex-start;
                    }
                }
            }
        }
    }
}