#sociedade-normas {
    background-color: #EFE8DF;
    margin-top: 110px;

    @media all and (max-width: 768px) {
        margin-top: 60px
    }

    .topo {
        padding: 60px 0 80px 0;
        margin-bottom: 20px;
        border-bottom: 1px solid $green;

        @media all and (max-width: 768px) {
            padding-bottom: 40px;
        }

        p {
            font-size: 15px;
            font-weight: 300;
            line-height: 24px;
            color: $orange;
        }

        .row {
            display: flex;
            margin-top: 25px;

            @media all and (max-width: 768px) {
                display: block;
            }

            .col {
                &.l {
                    width: 43%;

                    @media all and (max-width: 768px) {
                        width: 100%;
                    }

                    h2 {
                        font-size: 37px;
                        font-weight: 300;
                        line-height: 44px;
                        color: $green;
                        max-width: 370px;

                        @media all and (max-width: 768px) {
                            font-size: 30px;
                            line-height: 37px;
                            margin-bottom: 20px;
                        }
                    }
                }

                &.r {
                    width: 57%;

                    @media all and (max-width: 768px) {
                        width: 100%;
                    }

                    p {
                        font-size: 15px;
                        font-weight: 300;
                        line-height: 22px;
                        color: $green;
                    }
                }
            }


        }
    }

    .bottom {
        display: flex;
        position: relative;
        margin-bottom: 30px;

        @media all and (max-width: 768px) {
            display: block;
        }

        .col {
            width: 43%;

            @media all and (max-width: 768px) {
                width: 100%;

                &.title {
                    margin-bottom: 30px;
                }
            }

            p {
                font-size: 15px;
                font-weight: 300;
                line-height: 24px;
            }

            img {
                position: absolute;
                left: 0;
                bottom: 80px;

                @media all and (max-width: 768px) {
                    display: none;
                }
            }
        }

        .normas {
            width: 57%;

            @media all and (max-width: 768px) {
                width: 100%;
            }

            .item {

                .top {
                    padding: 18px 0px;
                    position: relative;
                    cursor: pointer;
                    border-bottom: 1px solid #D6D6D6;

                    h3 {
                        font-size: 19px;
                        font-weight: 300;
                        line-height: 62px;
                        color: $green;

                        &.claro {
                            color: #fff;
                        }

                        @media all and (max-width: 768px) {
                            font-size: 15px;
                            line-height: 24px;
                            width: 85%;
                        }

                    }

                    svg {
                        position: absolute;
                        right: 25px;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: all .5s;

                        @media all and (max-width: 768px) {
                            width: 30px;
                            right: 0;
                        }
                        
                    }

                    &.open {
                        svg {
                            transform: translateY(-50%) rotate(180deg);
                        }
                    }
                }

                .content {
                    position: relative;
                    padding: 25px 0;
                    overflow: hidden;
                    transition: all .5s;

                    .inside {
                        width: 100%;
                    }

                    &.nopadding {
                        padding: 0;
                        height: 0;
                    }

                    p {
                        font-size: 15px;
                        font-weight: 300;
                        line-height: 22px;
                        color: #9A9A9A;
                        margin-top: 20px;

                        @media all and (max-width: 768px) {
                            font-size: 14px
                        }
                    }

                    a {
                        font-size: 15px;
                        font-weight: 300;
                        color: $green;
                        text-decoration: none;
                        border: 1px solid $green;
                        border-radius: 100px;
                        padding: 13px 25px;
                        display: inline-block;
                        margin-top: 30px;

                        svg {
                            margin-left: 8px;
                        }

                        &:hover {
                            background: $green;
                            color: #fff;

                            svg {
                                path {
                                    fill: #fff;
                                    stroke: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .info {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 60px;

        @media all and (max-width: 768px) {
            display: block;
        }

        .col {
            width: 57%;
            font-size: 12px;
            font-weight: 300;
            color: #9A9A9A;

            img {
                display: none;
            }

            @media all and (max-width: 768px) {
                width: 100%;

                img {
                    display: block;
                    margin-bottom: 20px;
                    width: 100%;
                }
            }
        }
    }
}