#sociedade-resp {
    padding-top: 90px;

    @media all and (max-width: 768px) {
        padding-top: 60px
    }

    p {
        font-size: 15px;
        font-weight: 300;
        line-height: 24px;
        color: $orange;
    }

    .row {
        display: flex;

        @media all and (max-width: 768px) {
            display: block;
        }

        .col {

            &.l {
                width: 35%;

                @media all and (max-width: 768px) {
                    width: 100%;
                }

                h2 {
                    font-size: 37px;
                    font-weight: 300;
                    line-height: 44px;
                    color: $green;

                    @media all and (max-width: 768px) {
                        font-size: 30px;
                        line-height: 37px;
                        margin-bottom: 20px;

                        br {
                            content: '';

                            &::after {
                                content: ' ';
                            }
                        }
                    }


                }
            }

            &.r {
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                width: 65%;

                @media all and (max-width: 768px) {
                    display: block;
                    width: 100%;
                }

                p {
                    font-size: 15px;
                    font-weight: 300;
                    line-height: 22px;
                    margin-bottom: 20px;
                    color: #9A9A9A;
                    max-width: 440px;
                }

                img {
                    @media all and (max-width: 768px) {
                        width: 100%;
                    }
                }

                .separator {
                    height: 100%;
                    width: 1px;
                    margin: 0 20px;
                    background: #D6D6D6;
                    display: block;

                    @media all and (max-width: 768px) {
                        display: none;
                    }
                }
            }

        }
    }
}