#sociedade-ticker {
    position: relative;
    overflow: hidden;
    height: 96px;

    @media all and (max-width: 768px) {
        height: 76px;
    }

    .line {
        align-items: center;
        animation: marquee 70s linear infinite;
        display: flex;
        position: absolute;
        white-space: nowrap;
        will-change: transform;
    }

    @keyframes marquee {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-50%);
        }
    }

    p {
        display: inline-block;
        font-size: 90px;

        @media all and (max-width: 768px) {
            font-size: 40px;
        }
    }

    .circle {
        width: 15px;
        height: 15px;
        align-self: center;
        border-radius: 50%;
        margin: 0 20px;
        display: inline-block;

        @media all and (max-width: 768px) {
            width: 10px;
            height: 10px;
            margin: 0 10px;
        }
    }
}