#sociedade_topo {
    padding-top: 160px;
    margin-bottom: 60px;

    @media all and (max-width: 768px) {
        padding-top: 100px;
    }

    .top {
        margin-bottom: 100px;
        display: flex;

        @media all and (max-width: 768px) {
            display: block;
            margin-bottom: 40px;
            padding-bottom: 26px;
        }

        .col {
            &:first-child {
                width: 32%;
            }
        }

        .subtitle {
            font-size: 19px;
            font-weight: 300;
            line-height: 24px;
            display: flex;
            align-items: center;
            margin-bottom: 32px;

            @media all and (max-width: 768px) {
                margin-bottom: 10px;
            }

            .circle {
                width: 11px;
                height: 11px;
                border-radius: 50%;
                margin-right: 8px;
                display: inline-block;
            }

            @media all and (max-width: 768px) {
                font-size: 16px;
            }
        }

        h1 {
            font-size: 58px;
            font-weight: 300;
            line-height: 62px;

            @media all and (max-width: 768px) {
                font-size: 35px;
                line-height: 40px;

                br {
                    content: '';

                    &::after {
                        content: ' ';
                    }
                }
            }

            strong {
                color: $orange;
            }
        }
    }

    .main {
        width: 100%;
    }
}