#site-footer {
    padding-top: 30px;
    margin-top: 60px;
    background: #fff;

    @media all and (max-width: 768px) {
        padding-top: 60px;
    }

    .topo {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 60px;

        .backtotop {
            cursor: pointer;

            svg {
                margin-left: 11px;
            }

            &:hover {
                span {
                    text-decoration: underline;
                }
            }
        }
    }

    .middle {
        display: flex;
        justify-content: space-between;

        @media all and (max-width: 768px) {
            display: block;
        }

        .col {
            width: 50%;

            @media all and (max-width: 768px) {
                width: 100%;
            }

            &.l {
                @media all and (max-width: 768px) {
                    display: none;
                }
            }

            &.r {
                ul {
                    margin-bottom: 65px;

                    li {
                        width: 100%;
                        position: relative;
                        border-top: 1px solid #D6D6D6;
                        padding: 10px 0 5px 0;
                        position: relative;

                        a {
                            display: flex;
                            text-decoration: none;
                            color: $green;

                            .num {
                                font-size: 12px;
                                font-weight: 300;
                                line-height: 22px;
                                margin-right: calc(49% - 5px);

                                @media all and (max-width: 768px) {
                                    margin-right: calc(40% - 5px);
                                }
                            }

                            p {
                                font-size: 30px;
                                font-weight: 300;
                                line-height: 50px;

                                @media all and (max-width: 768px) {
                                    font-size: 21px;
                                    line-height: 39px;
                                }
                            }

                            @media all and (max-width: 768px) {
                                align-items: center;
                            }
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: -1px;
                            width: 0%;
                            height: 1px;
                            background-color: $orange;
                            transition: all .3s;
                        }

                        &:hover {

                            &::before {
                                width: 100%;
                            }


                            a {
                                color: $orange;
                            }
                        }
                    }
                }

                .info {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 65px;

                    @media all and (max-width: 768px) {
                        display: block;
                        margin-bottom: 13px;
                    }

                    .address {
                        p {
                            font-size: 20px;
                            margin-bottom: 20px;
                        }
                    }

                    p {
                        font-size: 15px;
                        font-weight: 300;
                        line-height: 22px;
                    }

                    a {
                        margin-top: 17px;
                        color: #9A9A9A;
                        text-decoration: none;
                        display: block;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .extralinks {
                    a {
                        color: #9A9A9A;
                        text-decoration: none;
                        display: block;
                        margin-bottom: 10px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .bottom {
        margin-top: 65px;
        border-top: 1px solid #D6D6D6;
        padding: 20px 0;
        display: flex;
        font-size: 12px;
        color: #9A9A9A;
        display: flex;
        justify-content: space-between;

        @media all and (max-width: 768px) {
            padding: 20px 0;
        }

        .col {
            width: 50%;

            @media all and (max-width: 768px) {
                width: 100%;
            }
        }
        
        .icol {
            @media all and (max-width: 768px) {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;
            }
        }

        .r {
            display: flex;
            justify-content: space-between;

            @media all and (max-width: 768px) {
                display: block;
            }

            a {
                margin-right: 40px;
            }
        }

        a {
            color: #9A9A9A;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        .crmobile {
            display: none;
        }
        
        @media all and (max-width: 768px) {
            .cr {
                display: none;
            }

            .crmobile {
                display: block;
            }
        }
    }
}