#site-header {
    left: 50%;
    position: absolute;
    top: 30px;
    transform: translateX(-50%);
    z-index: 100;
    width: 100%;    

    @media all and (max-width: 640px) {
        top: 20px;
    }

    .container {
        display: flex;
        justify-content: space-between;

        .logo {
            //width: 191px;

            @media all and (max-width: 640px) {
                width: 151px;
            }
        }
    }
}