#site-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 380px;
    z-index: 100;
    width: 100%;
    pointer-events: none;
    overflow: hidden;

    @media all and (max-width: 768px) {
        height: 100vh;
    }

    .container {
        width: 100%;

        @media all and (max-width: 768px) {
            height: 100vh;
            width: 100%;
        }
    }

    .underlay {
        background: #000;
        bottom: 0px;
        height: 100vh;
        left: 0;
        position: fixed;
        width: 100vw;
        z-index: 0;
        opacity: 0.15;
        pointer-events: none;
        opacity: 0;
        transition: opacity .3s;

        @media all and (max-width: 768px) {
            display: none;
        }
    }

    .content {
        position: relative;
        transform: translateY(-100%);
        transition: all .3s;
        z-index: 1;
        overflow: hidden;

        @media all and (max-width: 768px) {
            height: 100%;
            width: 100%;
        }

        &.open {
            transform: translateY(0);
        }

        .grey {
            position: absolute;
            left: 50%;
            top: 0;
            width: 100vw;
            height: 100%;
            transform: translateX(-50%);
            background-color: #858484;
            opacity: .45;
        }

        .bg {
            position: absolute;
            left: 50%;
            top: 0;
            width: 100vw;
            height: 100%;
            transform: translateX(-50%);
            backdrop-filter: blur(15px);
        }

        .inside {
            color: #fff;
            padding: 40px 0;
            height: calc(100% - 80px);
            font-size: 15px;
            font-weight: 300;
            line-height: 22px;
            position: relative;
            width: 90%;
            margin: auto;

            @media all and (max-width: 768px) {
                height: calc(100% - 30px);
                padding: 15px 0;
            }

            a {
                color: #fff;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            .main-menu {
                li {
                    display: flex;
                    align-items: center;

                    .circle {
                        position: relative;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: #fff;
                        margin-right: 10px;
                        transform: scale(0);
                        transition: all .3s;

                        @media all and (max-width: 768px) {
                            display: none;
                        }
                    }

                    font-size: 30px;
                    font-weight: 300;
                    line-height: 50px;

                    @media all and (max-width: 768px) {
                        line-height: 42px;
                    }

                    a {
                        &:hover {
                            text-decoration: none !important;
                        }
                    }

                    &:hover {

                        .circle {
                            display: block;
                            transform: scale(1);

                            @media all and (max-width: 768px) {
                                display: none;
                            }
                        }
                    }
                }
            }

            p {
                &.title {
                    margin-bottom: 20px;

                    @media all and (max-width: 768px) {
                        margin-bottom: 10px;
                    }
                }

                &.morada {
                    max-width: 180px;
                }
            }

            .top {
                display: flex;
                justify-content: space-between;

                @media all and (max-width: 768px) {
                    display: block;
                }
            }

            .col {
                width: 25%;

                @media all and (max-width: 768px) {
                    width: 100%;
                }

                &.langmobile {
                    display: none;

                    @media all and (max-width: 768px) {
                        display: block;
                        margin-bottom: 15px;

                        p {
                            &.small {
                                font-size: 10px;
                                line-height: 14px;
                                opacity: .6;
                                margin-top: -3px;
                            }

                        }
                    }
                }

                &.mobile {
                    display: none;

                    @media all and (max-width: 768px) {
                        display: block;
                    }
                }

                &.nomobile {
                    display: block;

                    @media all and (max-width: 768px) {
                        display: none;
                    }
                }

                &.address {
                    @media all and (max-width: 768px) {
                        margin: 20px 0 20px 0;
                    }
                }

                &.last {
                    //display: flex;
                    //justify-content: flex-end;

                    @media all and (max-width: 768px) {
                        display: none;
                    }

                    p {
                        padding-right: 170px;

                        &.small {
                            font-size: 10px;
                        }

                        @media all and (max-width: 768px) {
                            padding-right: 0;
                        }
                    }
                }
            }

            .bottom {
                display: flex;
                justify-content: space-between;
                align-items: self-end;
                position: absolute;
                bottom: 40px;
                left: 0;
                width: 100%;
                pointer-events: none;

                .col {
                    &.last {
                        display: none;

                        @media all and (max-width: 768px) {
                            display: block;
                            margin-top: 10px;
                        }
                    }
                }

                @media all and (max-width: 768px) {
                    display: block;
                    position: relative;
                    bottom: auto;
                    margin-top: 20px;
                }

                .logo {
                    @media all and (max-width: 768px) {
                        display: none;
                    }
                }

                a {
                    pointer-events: all;
                }
            }
        }
    }

    .menuhandle {
        position: absolute;
        right: 3%;
        top: 29px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        padding: 0 15px;
        cursor: pointer;
        z-index: 2;
        padding: 15px 25px;
        pointer-events: all;

        @media all and (max-width: 640px) {
            transform: scale(0.8);
            padding: 15px 20px;
            right: 0;
            top: 13px;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $green;
            border-radius: 100px;
            transition: opacity .3s;
        }

        span {
            position: relative;

            &.close {
                display: none;
            }
        }

        svg {
            position: relative;
            margin-left: 15px;
        }

        &:hover {
            &::before {
                opacity: 1;
            }
        }

        &.open {

            svg {
                position: relative;
                top: -3px;

                .l1 {
                    display: none
                }
            }

            span {
                &.open {
                    display: none;
                }

                &.close {
                    display: block;
                }
            }
        }
    }

    &.dark {
        .content {
            .inside {
                color: $green;

                a {
                    color: $green;
                }

                .main-menu {
                    li {
                        .circle {
                            background-color: $green;
                        }
                    }
                }
            }
        }
    }

    &.open {
        pointer-events: all;

        .underlay {
            opacity: 0.15;
        }
    }
}