#contact-form {
    background: #EFE8DF;
    padding-bottom: 30px;
    margin-bottom: 40px;

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px #EFE8DF inset !important;
    }

    .form {
        .cols {
            p {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: none;
                gap: 0 20px;

                @media all and (max-width: 768px) {
                    display: block;
                }

                br {
                    display: none;
                }

                .wpcf7-form-control-wrap {
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 50px;
                        width: 100%;
                        height: 1px;
                        background: $green;
                        opacity: .2;

                        @media all and (max-width: 768px) {
                            bottom: -10px;
                            display: none;
                        }
                    }

                    .wpcf7-not-valid-tip {
                        font-size: 12px;
                        color: $green;
                        position: absolute;
                        left: 0;
                        bottom: 30px;
                    }
                }
            }

            input {
                font-family: 'font1';
                width: 100%;
                background: none;
                outline: none;
                font-size: 19px;
                font-weight: 300;
                color: $green;
                padding-bottom: 30px;
                margin-bottom: 50px;
                position: relative;
                border: none;

                @media all and (max-width: 768px) {
                    font-size: 16px;
                    margin-bottom: 30px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #ccc;
                }

                &::placeholder {
                    color: $orange;
                }
            }
        }
    }

    textarea {
        width: 100%;
        background: none;
        border: none;
        outline: none;
        border-bottom: 1px solid #bfc3bc;
        resize: none;
        color: $green;
        font-size: 19px;
        font-family: 'font1';

        &::placeholder {
            color: $orange;
        }

        @media all and (max-width: 768px) {
            font-size: 16px;
        }
    }

    .submit {
        display: flex;
        justify-content: flex-end;
        margin: 30px 0;
        position: relative;
        cursor: pointer;

        @media all and (max-width: 768px) {
            justify-content: flex-start;
        }

        input {
            background: $orange;
            border: 1px solid $orange;
            color: #fff;
            font-family: 'font1';
            border-radius: 100px;
            border: none;
            outline: none;
            font-size: 15px;
            padding: 15px 50px 15px 25px;
            cursor: pointer;
        }

        svg {
            position: absolute;
            top: 50%;
            right: 28px;
            transform: translateY(-50%);

            @media all and (max-width: 768px) {
                left: 158px;
            }
        }

        &:hover {
            input {
                background: #fff;
                color: $orange;
            }

            svg {
                path {
                    fill: $orange;
                }
            }
        }
    }

    .wpcf7-response-output {
        border: navajowhite;
        position: absolute;
        left: 0;
        bottom: -3px;
        color: red;

        @media all and (max-width: 768px) {
            bottom: -60px;
            font-size: 12px;
        }
    }

    .wpcf7 form.sent .wpcf7-response-output {
        color: green !important;
    }

    .wpcf7-spinner {
        position: absolute;
        bottom: 11px;
        right: 190px;
    }
}