#contactos-office {
    .container {
        display: flex;    
        border-top: 1px solid #E5E4E4;
        padding-top: 20px;   

        @media all and (max-width: 768px) {
            display: block;
        }

        .col {
            width: 50%;
            color: $green;

            @media all and (max-width: 768px) {
                width: 100%;

                &.r {
                    margin-top: 30px;
                }
            }

            img {
                width: 100%;
                margin-top: 20px;
            }

            p {
                font-size: 15px;
                font-weight: 300;
                line-height: 24px;
                margin-bottom: 50px;

                @media all and (max-width: 768px) {
                    margin-bottom: 20px;
                }
            }

            h2 {
                font-size: 30px;
                font-weight: 300;
                line-height: 34px;
                max-width: 440px;
                margin-bottom: 35px;

                @media all and (max-width: 768px) {
                    font-size: 19px;
                    line-height: 27px;
                    margin-bottom: 20px;
                }
            }

            a {
                color: $orange;
                background-color: #EFE8DF;
                border-radius: 100px;
                font-size: 15px;
                padding: 15px 20px;
                text-decoration: none;
                margin-top: 34px;
                display: inline-block;

                @media all and (max-width: 768px) {
                    margin-top: 20px;
                }

                svg {
                    margin-left: 11px;
                }

                &:hover {
                    background: $orange;
                    color: #fff;

                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }
            }
        }
    }
}