#contactos-topo {
    padding-top: 160px;
    background-color: #EFE8DF;

    @media all and (max-width: 768px) {
        padding: 110px 0 0 0;
    }

    .container {

        .top {
            padding-bottom: 37px;
            margin-bottom: 37px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background: $green;
            }

            .subtitle {
                font-size: 19px;
                font-weight: 300;
                line-height: 24px;
                display: flex;
                align-items: center;
                margin-bottom: 32px;

                .circle {
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    margin-right: 8px;
                    display: inline-block;
                }

                @media all and (max-width: 768px) {
                    font-size: 16px;
                    margin-bottom: 20px;
                }
            }

            h1 {
                font-size: 58px;
                font-weight: 300;
                line-height: 62px;
                max-width: 785px;
                color: $green;

                strong {
                    color: $orange;
                }

                @media all and (max-width: 768px) {
                    font-size: 35px;
                    line-height: 40px;

                    br {
                        content: '';

                        &::after {
                            content: ' ';
                        }
                    }
                }
            }
        }

        .bottom {
            display: flex;
            padding-bottom: 100px;

            @media all and (max-width: 768px) {
                display: block;
                padding-bottom: 50px;
            }

            .col {
                &.l {
                    width: 60%;

                    @media all and (max-width: 768px) {
                        width: 100%;
                    }

                    p {
                        font-size: 15px;
                        font-weight: 300;
                        line-height: 24px;
                        color: $green;
                        margin-bottom: 15px;
                    }

                    h2 {
                        font-size: 30px;
                        font-weight: 300;
                        line-height: 34px;
                        color: $green;
                        max-width: 670px;

                        @media all and (max-width: 768px) {
                            font-size: 22px;
                            line-height: 26px;
                            margin-bottom: 20px;
                        }
                    }
                }

                &.r {
                    width: 40%;

                    @media all and (max-width: 768px) {
                        width: 100%;
                        margin-top: 20px;
                    }

                    a {
                        display: block;

                        &.small {
                            font-size: 15px;
                            font-weight: 300;
                            line-height: 24px;
                            text-align: left;
                            color: $green;
                            margin-bottom: 15px;
                        }

                        &.big {
                            font-size: 30px;
                            font-weight: 300;
                            line-height: 34px;
                            color: $orange;
                            text-decoration: none;

                            @media all and (max-width: 768px) {
                                font-size: 16px;
                                line-height: 21px;
                            }
                        }
                    }
                }
            }
        }
    }
}