#advogado {
    background: $green;
    color: #fff;
    display: flex;
    width: 100%;
    min-height: 100vh;

    @media all and (max-width: 768px) {
        display: block;
        min-height: auto;
        padding-bottom: 20px;
    }

    .col {
        width: 50%;
        background-size: cover;

        @media all and (max-width: 768px) {
            width: 100%;
        }

        &.l {
            height: 100vh;
            position: relative;

            @media all and (max-width: 768px) {
                width: 100%;
                height: 300px;
            }

            .linkedin {
                position: absolute;
                width: 90px;
                height: 90px;
                border-radius: 50%;
                background-color: $green;
                display: flex;
                justify-content: center;
                align-items: center;
                left: 40px;
                bottom: 25px;
                transition: all .3s;

                &:hover {
                    background-color: $orange;

                    svg {
                        path {
                            fill: $green;
                        }
                    }
                }

                @media all and (max-width: 768px) {
                    bottom: 15px;
                    height: 60px;
                    left: 15px;
                    width: 60px;
                }
            }
        }

        &.r {
            padding: 50px;

            @media all and (max-width: 768px) {
                padding: 0;
                width: 90%;
                margin: auto;
                padding-top: 30px;
            }

            .top {
                //position: relative;

                .close {
                    position: absolute;
                    right: 50px;
                    top: 50px;
                    color: #fff;
                    text-decoration: none;

                    svg {
                        position: relative;
                        top: -4px;
                        margin-left: 10px;
                    }

                    @media all and (max-width: 768px) {
                        color: #fff;
                        position: fixed;
                        right: 15px;
                        top: 15px;
                        background: $green;
                        border-radius: 100px;
                        font-size: 14px;
                        padding: 10px 15px;

                        svg {
                            margin-left: 5px;

                            line {
                                stroke: #fff;
                            }
                        }
                    }
                }

                .subtitle {
                    display: flex;
                    align-items: center;
                    margin-bottom: 65px;

                    @media all and (max-width: 768px) {
                        margin-bottom: 0px;
                        padding-top: 0;
                    }

                    .circle {
                        width: 11px;
                        height: 11px;
                        margin-right: 15px;
                        border-radius: 50%;
                    }

                    p {
                        font-size: 19px;
                        font-weight: 300;

                        @media all and (max-width: 768px) {
                            font-size: 16px;
                        }
                    }
                }
            }

            h1 {
                font-size: 58px;
                font-weight: 300;
                line-height: 62px;
                margin-bottom: 100px;

                @media all and (max-width: 768px) {
                    font-size: 35px;
                    line-height: 39px;
                    margin-bottom: 20px;
                    margin-top: 10px;
                }
            }

            .info {
                padding-bottom: 45px;
                border-bottom: 1px solid #264e55;
                margin-bottom: 45px;

                @media all and (max-width: 768px) {
                    margin-bottom: 27px;
                    padding-bottom: 30px;
                }

                p {
                    font-size: 19px;
                    font-weight: 300;
                    line-height: 22px;

                    @media all and (max-width: 768px) {
                        font-size: 14px;
                    }

                    &.title {
                        font-size: 15px;
                        font-weight: 300;
                        line-height: 22px;
                        color: #D6E595;
                    }
                }
            }

            a {
                color: #fff;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .content {
            font-size: 19px;
            font-weight: 300;
            line-height: 24px;

            @media all and (max-width: 768px) {
                font-size: 14px;
                line-height: 20px;
            }

            hr {
                border-top: 1px solid #264e55;
                height: 1px;
                background-color: #264e55;
                border: none;
                outline: none;
                margin: 45px 0;

                @media all and (max-width: 768px) {
                    margin: 25px 0;
                }
            }

            p {
                margin-bottom: 20px;
            }

            strong {
                font-size: 15px;
                font-weight: 300;
                line-height: 24px;
                color: #D6E595;
                margin-bottom: 30px;
            }
        }
    }
}