#site-footer {
    background-color: $white;
    color: $blue;
    padding-bottom: 80px;
    margin-top: -20px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 850px) {
            display: block;
            text-align: center;
        }

        .l {
            font-size: 16px;
            font-family: 'head bold';
            text-transform: uppercase;

            &.mobile {
                display: none;
            }

            @media only screen and (max-width: 850px) {
                display: none;

                &.mobile {
                    display: block;
                    margin-bottom: 128px;
                }
            }
        }

        .c {
            display: flex;
            align-items: center;
            gap: 0 80px;
            justify-content: center;

            @media only screen and (max-width: 850px) {
                margin-bottom: 65px;
                gap: 0 40px;
            }
        }

        .r {
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                color: $blue;
                text-decoration: none;
                font-size: 16px;
                font-family: 'head bold';
                text-transform: uppercase;
                position: relative;
                margin-right: 16px;
                padding-right: 16px;

                &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    background: $blue;
                    width: 1px;
                    height: 90%;
                    opacity: .2;
                }

                &:last-child {
                    margin-right: 0;
                    padding-right: 0;

                    &::after {
                        display: none;
                    }
                }

                &:hover {
                    text-decoration: underline;
                }

            }
        }
    }
}