#blank {
    .container {
        max-width: 855px;
        font-size: 20px;
        line-height: 140%;
        padding-bottom: 200px;
        padding-top: 66px;

        @media only screen and (max-width: 580px) {
            padding-top: 35px;
        }

        .menu {
            text-align: center;
            display: flex;
            align-items: center;
            margin-bottom: 85px;
            justify-content: flex-end;

            @media only screen and (max-width: 580px) {
                margin-bottom: 35px;
            }

            .logo {
                width: 65px;

                &.mobile {
                    display: none;

                    @media only screen and (max-width: 580px) {
                        display: block;
                        width: 50px;
                        margin-right: 10px;
                    }
                }
            }

            ul {
                display: flex;
                align-items: center;
                gap: 100px;
                list-style-type: none;
                width: 100%;
                justify-content: center;

                @media only screen and (max-width: 580px) {
                    gap: 10px;
                    margin-left: 0;
                }

                li {
                    text-transform: uppercase;
                    font-family: 'head bold';
                    font-size: 16px;

                    @media only screen and (max-width: 580px) {
                        font-size: 14px;
                    }

                    &.logoli {
                        @media only screen and (max-width: 580px) {
                            display: none;
                        }
                    }

                    a {
                        color: $blue;
                        text-decoration: none;
                    }
                }
            }
        }

        @media only screen and (max-width: 580px) {
            font-size: 16px;
        }

        h1 {
            font-family: 'head bold';
            text-transform: uppercase;
            width: 100%;
            font-size: 32px;
            margin-bottom: 85px;
            line-height: 120%;

            @media only screen and (max-width: 580px) {
                font-size: 24px;
                margin-bottom: 45px;
            }
        }

        img {
            display: block;
            margin-bottom: 30px;

            &.aligncenter {
                margin: auto;
            }
        }

        p {
            margin-bottom: 20px;
        }

        h2 {
            font-family: 'head bold';
            text-transform: uppercase;
            font-size: 24px;
            margin: 20px 0 30px 0;

            @media only screen and (max-width: 580px) {
                font-size: 20px;
            }
        }

        strong {
            font-family: 'head bold';
        }

        ul,
        ol {
            margin-left: 25px;

            li {
                margin-bottom: 20px;
            }
        }

        ul {
            list-style-type: disc;
        }
    }
}