#phase1 {

    .header {
        background: #000;
        position: relative;
        overflow: hidden;

        /*video {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            width: 100%;
            z-index: 0;
            object-fit: cover;
        }*/

        .container {
            width: 100%;
            max-width: $maxwidth_big;
        }

        .menu {
            position: absolute;
            left: 50%;
            top: 65px;
            transform: translateX(-50%);
            z-index: 1;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media only screen and (max-width: 580px) {
                width: 90%;
                top: 35px;
            }

            .logo {
                width: 65px;

                &.mobile {
                    display: none;

                    @media only screen and (max-width: 580px) {
                        display: block;
                        width: 50px;
                        margin-right: 30px;
                    }
                }
            }

            ul {
                display: flex;
                align-items: center;
                gap: 100px;

                @media only screen and (max-width: 580px) {
                    gap: 20px;
                }

                li {
                    text-transform: uppercase;
                    font-family: 'head bold';
                    font-size: 16px;

                    @media only screen and (max-width: 580px) {
                        font-size: 14px;
                    }

                    &.logoli {
                        @media only screen and (max-width: 580px) {
                            display: none;
                        }
                    }

                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }

        .infoh {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            z-index: 1;
            display: flex;
            justify-content: space-between;
            color: $yellow;

            @media only screen and (max-width: 768px) {
                bottom: 70px;
                top: auto;
                display: block;
                transform: translate(-50%, 0);
            }

            .l {
                @media only screen and (max-width: 768px) {
                    text-align: center;
                    margin-bottom: 40px;
                }

                p {
                    font-family: 'head bold';
                    font-size: 24px;
                    text-transform: uppercase;
                }
            }

            .r {
                text-align: right;

                @media only screen and (max-width: 768px) {
                    text-align: center;
                }

                p {
                    font-size: 16px;
                    margin-bottom: 15px;
                }

                .countdown {
                    font-family: 'head bold';
                    font-size: 24px;
                    text-transform: uppercase;
                    margin-bottom: 15px;
                }
            }
        }

        .bg {
            width: 100%;
            position: relative;

            video {
                width: 100%;

                &.mobile {
                    display: none;
                }

                @media only screen and (max-width: 768px) {
                    display: none;

                    &.mobile {
                        display: block;
                        padding-bottom: 120px;
                        background-color: #000004;
                    }
                }
            }

            .image {
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                width: 3978px;
                pointer-events: none;

                @media only screen and (max-width: 768px) {
                    width: 2758px;
                }

                @media only screen and (max-width: 580px) {
                    width: 2058px;
                }
            }

            .spacer {
                width: 100%;
                position: relative;
                z-index: 1;
                height: 1300px;
                pointer-events: none;

                @media only screen and (max-width: 768px) {
                    height: 970px;
                }

                @media only screen and (max-width: 580px) {
                    height: 700px;
                }
            }

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background: linear-gradient(to right, black 0%, transparent 20%, transparent 80%, black 100%);
                pointer-events: none;
                display: none;
            }

        }
    }

    .pub1 {
        margin-top: -260px;
        position: relative;
        z-index: 1;

        @media only screen and (max-width: 768px) {
            margin-top: 0;

            &::before {
                content: '';
                width: 100%;
                height: 330px;
                position: absolute;
                top: -5px;
                left: 0;
                background: #000004;
            }
        }

        .container {

            .bg {
                width: 100%;
            }

            img {
                &.mobile {
                    display: none;
                }

                @media only screen and (max-width: 768px) {
                    display: none;

                    &.mobile {
                        display: block;
                    }
                }

                @media only screen and (max-width: 580px) {
                    padding-top: 70px;
                    background: #001d45;
                }
            }

            .text {
                position: absolute;
                left: 50%;
                top: 65px;
                transform: translateX(-50%);
                width: calc(100% - 130px);
                display: flex;
                justify-content: space-between;

                @media only screen and (max-width: 1024px) {
                    top: 20px;
                    width: calc(100% - 50px);
                }

                @media only screen and (max-width: 768px) {
                    width: calc(100% - 40px);
                    top: 20px;
                    display: block;
                }

                .l {
                    font-family: 'head bold';
                    text-transform: uppercase;
                    color: #fff;
                    line-height: 120%;
                    font-size: 32px;
                    max-width: 50%;

                    @media only screen and (max-width: 768px) {
                        max-width: none;
                        font-size: clamp(22px, 5vw, 32px);
                        margin-bottom: 30px;

                        br {
                            display: none;
                        }
                    }
                }

                .r {
                    font-size: 20px;
                    line-height: 140%;
                    color: #fff;
                    max-width: 40%;

                    p {
                        margin-bottom: 20px;
                    }

                    @media only screen and (max-width: 768px) {
                        max-width: none;
                        font-size: clamp(14px, 4vw, 20px);

                        br {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .info {
        margin-top: 65px;

        .container {
            display: flex;
            justify-content: space-between;
            color: $blue;

            @media only screen and (max-width: 850px) {
                display: block;
            }

            .l {
                font-family: 'head bold';
                text-transform: uppercase;
                line-height: 120%;
                font-size: 32px;

                @media only screen and (max-width: 850px) {
                    margin-bottom: 30px;
                }
            }

            .r {
                font-size: 20px;
                line-height: 140%;


                @media only screen and (max-width: 580px) {
                    font-size: 16px;
                    text-align: center;
                }

                .text {
                    @media only screen and (max-width: 580px) {
                        text-align: left;
                    }
                }

                a {
                    margin-top: 65px;
                }
            }
        }

        .line {
            width: 95%;
            max-width: $maxwidth_small;
            margin: 135px auto;
            height: 20px;
            background-image: radial-gradient(circle, black 0 4px, transparent 5px);
            background-size: 40px 20px;
            background-repeat: repeat-x;
            animation: moveDots 3s linear infinite;

            @media only screen and (max-width: 850px) {
                background-image: radial-gradient(circle, black 0 3px, transparent 4px);
                background-size: 30px 20px;
                margin: 65px auto;
            }
        }

        @keyframes moveDots {
            from {
                background-position-x: 0;
            }

            to {
                background-position-x: 40px;
            }
        }

    }

    .prizes {

        .container {
            color: $blue;

            h2 {
                font-family: 'head bold';
                text-transform: uppercase;
                line-height: 120%;
                font-size: 32px;
                margin-bottom: 65px;

                @media only screen and (max-width: 768px) {
                    margin-bottom: 48px;
                }
            }

            .items {
                // GRID de duas colunas com espaçamento central
                display: grid;
                grid-template-columns: minmax(0, 1fr) clamp(6rem, 12vw, 14rem) minmax(0, 1fr);
                column-gap: clamp(6rem, 12vw, 14rem);
                row-gap: clamp(3rem, 6vw, 6rem);
                align-items: start;

                // cada .item
                .item {
                    img {
                        margin-bottom: 35px;
                        width: 100%;
                        height: auto;
                        display: block;
                    }

                    p {
                        font-size: 16px;
                        line-height: 130%;
                        margin-bottom: 35px;

                        @media only screen and (max-width: 768px) {
                            margin-bottom: 25px;
                        }
                    }

                    h3 {
                        font-family: 'head bold';
                        text-transform: uppercase;
                        font-size: 24px;

                        @media only screen and (max-width: 768px) {
                            font-size: 20px;
                        }
                    }

                    // alternar entre colunas
                    &:nth-child(odd) {
                        grid-column: 1;
                    }

                    &:nth-child(even) {
                        grid-column: 3;
                        margin-top: clamp(2rem, 5vw, 6rem); // desalinhamento visual
                    }

                    &:nth-last-child(2) {
                        transform: translateX(110px);

                        @media only screen and (max-width: 768px) {
                            transform: translateX(0px);
                        }
                    }

                    &:last-child {
                        transform: translateX(-100px);

                        @media only screen and (max-width: 768px) {
                            transform: translateX(0px);
                        }
                    }

                    @media only screen and (max-width: 768px) {

                        &:nth-child(1) {
                            width: 80%;
                        }

                        &:nth-child(2) {
                            width: 80%;
                            margin-left: 20%;
                        }

                        &:nth-child(4) {
                            width: 80%;
                            margin-left: 10%;
                        }


                    }
                }

                // comportamento responsivo
                @media (max-width: 768px) {
                    grid-template-columns: 1fr;
                    column-gap: 0;

                    .item {
                        grid-column: 1 !important;
                        margin-top: 0 !important;
                    }
                }
            }
        }
    }

    .how {
        position: relative;
        margin-top: 120px;
        max-height: 780px;
        overflow: hidden;

        @media only screen and (max-width: 768px) {
            margin-top: 70px;
        }

        .bg {
            width: 100%;
            max-width: $maxwidth_big;
            margin: auto;

            img {
                width: 100%;

                &.mobile {
                    display: none;
                }

                @media only screen and (max-width: 768px) {
                    display: none;

                    &.mobile {
                        display: block;
                    }
                }
            }
        }

        .container {
            position: absolute;
            left: 50%;
            top: 50%;
            width: calc(100% - 140px);
            height: calc(100% - 140px);
            transform: translate(-50%, -50%);

            @media only screen and (max-width: 1024px) {
                width: calc(100% - 80px);
                height: calc(100% - 80px);
            }

            @media only screen and (max-width: 768px) {
                width: calc(100% - 30px);
                height: calc(100% - 30px);
            }

            .top {
                h2 {
                    font-family: 'head bold';
                    text-transform: uppercase;
                    color: #fff;
                    font-size: clamp(56px, 6vw, 96px);
                }
            }

            .bot {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;

                @media only screen and (max-width: 768px) {
                    display: block;
                    text-align: center;
                }

                .button {
                    @media only screen and (max-width: 768px) {
                        margin: 40px 0px 30px 0;
                    }
                }

                .infos {
                    display: flex;
                    text-align: left;

                    @media only screen and (max-width: 768px) {
                        display: block;
                    }

                    .infohow {
                        padding-right: clamp(30px, 4vw, 65px);
                        margin-right: clamp(30px, 4vw, 65px);
                        position: relative;
                        margin-top: 0;

                        @media only screen and (max-width: 768px) {
                            padding-right: 0;
                            margin-right: 0;
                            border-bottom: 1px solid #ffffff20;
                            margin-bottom: 25px;
                            padding-bottom: 25px;
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            background: #fff;
                            width: 1px;
                            height: 90%;
                            opacity: .2;

                            @media only screen and (max-width: 768px) {
                                display: none;
                            }
                        }

                        &:last-child {
                            margin-right: 0;
                            padding-right: 0;

                            &::after {
                                display: none;
                            }

                            @media only screen and (max-width: 768px) {
                                padding-right: 0;
                                margin-right: 0;
                                border-bottom: none;
                                margin-bottom: 0;
                                padding-bottom: 0;
                            }
                        }

                        h3 {
                            font-size: 16px;
                            margin-bottom: 25px;
                            color: #fff;

                            @media only screen and (max-width: 768px) {
                                margin-bottom: 10px;
                            }
                        }

                        p {
                            font-family: 'head bold';
                            text-transform: uppercase;
                            color: #fff;
                            font-size: clamp(16px, 1.4vw, 24px);
                            line-height: 120%;

                            @media only screen and (max-width: 768px) {
                                font-size: 20px;

                                br {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .pub2 {
        padding-top: 75px;
        padding-bottom: 290px;
        color: $blue;
        background-color: #EBE5DC;
        margin-top: -5px;

        @media only screen and (max-width: 850px) {
            padding-bottom: 180px;
        }

        img {
            width: 100%;
            margin-bottom: 75px;

            @media only screen and (max-width: 768px) {
                margin-bottom: 45px;
            }
        }

        .content {
            display: flex;
            justify-content: space-between;

            @media only screen and (max-width: 768px) {
                display: block;
            }

            h2 {
                font-family: 'head bold';
                text-transform: uppercase;
                line-height: 120%;
                font-size: 32px;

                @media only screen and (max-width: 768px) {
                    margin-bottom: 30px;
                    font-size: 26px;
                }
            }

            .text {
                font-size: 20px;
                line-height: 140%;
                max-width: 530px;
                width: 60%;

                @media only screen and (max-width: 768px) {
                    width: 100%;
                    font-size: 16px;
                }

                a {
                    margin-top: 65px;
                }

                .buttoncontainer {
                    @media only screen and (max-width: 768px) {
                        text-align: center;
                    }
                }
            }
        }
    }

}