#equipa-blocks {
    margin: 50px 0 70px 0;

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: none;
        gap: 0 10px;

        @media all and (max-width: 980px) {
            display: block;
        }

        .col {
            margin: 0 10px;
            border-radius: 10px;
            overflow: hidden;
            height: 390px;
            position: relative;

            @media all and (max-width: 980px) {
                margin: 0;
                height: auto;
                margin-bottom: 20px;
            }

            .inside {
                padding: 35px;

                @media all and (max-width: 980px) {
                    padding: 20px 20px 60px 20px;
                }

                p {
                    font-size: 15px;
                    font-weight: 300;
                    color: $orange;
                    margin-bottom: 20px;
                }

                h3 {
                    font-size: 37px;
                    font-weight: 300;
                    line-height: 44px;
                    margin-bottom: 15px;
                    color: $green;
                    max-width: 330px;

                    @media all and (max-width: 1200px) {
                        font-size: 30px;
                        line-height: 33px;

                        br {
                            content: '';

                            &::after {
                                content: ' ';
                            }
                        }
                    }
                }

                .text {
                    font-size: 15px;
                    font-weight: 300;
                    line-height: 22px;
                    color: $green;
                    max-width: 395px;
                }

                a {
                    color: #fff;
                    border-radius: 100px;
                    font-size: 15px;
                    padding: 15px 20px;
                    text-decoration: none;
                    margin-top: 34px;
                    display: inline-block;
                    position: relative;
                    overflow: hidden;
                    position: absolute;
                    left: 0;
                    bottom: 0;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background: $green;
                        opacity: .3;
                    }

                    span,
                    svg {
                        position: relative;
                        z-index: 2;
                    }

                    svg {
                        path {
                            fill: #fff;
                            stroke: #fff;
                        }
                    }

                    &:hover {
                        &::before {
                            opacity: 1;
                        }
                    }

                    svg {
                        margin-left: 11px;
                    }

                    &:hover {
                        background: $green;
                        color: #EFE8DF;

                        svg {
                            path {
                                fill: #EFE8DF;
                            }
                        }
                    }

                    @media all and (max-width: 980px) {
                        right: 0;
                        bottom: 0;
                    }
                }
            }

            &:first-child {
                margin-left: -5px;
                height: auto;
                width: 670px;

                @media all and (max-width: 1400px) {
                    width: 500px;
                }

                @media all and (max-width: 1200px) {
                    width: 400px;
                }

                @media all and (max-width: 980px) {
                    width: 100%;
                    margin-left: 0;
                    height: auto;
                    margin-bottom: 20px;

                    img {
                        width: 100%;
                    }

                    a {
                        position: relative;
                        left: auto;
                    }
                }

                .inside {
                    height: calc(100% - 70px);
                    width: calc(100% - 70px);
                    left: 35px;
                    padding: 0;
                    position: absolute;
                    top: 35px;

                    @media all and (max-width: 980px) {
                        height: auto;
                        width: calc(100% - 40px);
                        left: 20px;
                        top: 20px;
                        height: calc(100% - 40px);
                    }

                    h3 {
                        color: #fff;
                        max-width: 495px;

                        @media all and (max-width: 980px) {
                            font-size: 30px;
                            line-height: 33px;
                        }
                    }

                    .text {
                        color: #fff;
                    }
                }
            }

            &:nth-child(2) {
                a {
                    border-radius: 50%;
                    width: 33px;
                    height: 33px;
                    padding: 0;
                    border: none;
                    background: #fff;
                    bottom: 35px;
                    right: 35px;
                    left: auto;

                    @media all and (max-width: 980px) {
                        right: 20px;
                        bottom: 20px;
                    }

                    &::before {
                        display: none;
                    }

                    svg {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        margin-left: 0;

                        path {
                            fill: $green;
                            stroke: $green;
                        }
                    }

                    &:hover {
                        background: $green;

                        svg {

                            path {
                                fill: #fff;
                                stroke: #fff;
                            }
                        }
                    }
                }
            }

            &:last-child {
                margin-right: -5px;

                .inside {
                    h3 {}

                    p {
                        color: $green;
                    }

                    a {
                        border-radius: 50%;
                        width: 33px;
                        height: 33px;
                        padding: 0;
                        border: 1px solid $green;
                        background: none;
                        bottom: 35px;
                        right: 35px;
                        left: auto;

                        @media all and (max-width: 980px) {
                            right: 20px;
                            bottom: 20px;
                        }


                        &::before {
                            display: none;
                        }

                        svg {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            margin-left: 0;

                            path {
                                fill: $green;
                                stroke: $green;
                            }
                        }

                        &:hover {
                            background: $green;

                            svg {

                                path {
                                    fill: #fff;
                                    stroke: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}