#equipa-topo {
    padding-top: 160px;

    @media all and (max-width: 768px) {
        padding-top: 100px;
    }

    .container {
        .top {

            padding-bottom: 46px;
            margin-bottom: 26px;
            border-bottom: 1px solid #D6D6D6;

            .subtitle {
                font-size: 19px;
                font-weight: 300;
                line-height: 24px;
                display: flex;
                align-items: center;
                margin-bottom: 32px;

                @media all and (max-width: 768px) {
                    margin-bottom: 10px;
                }

                .circle {
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    margin-right: 8px;
                    display: inline-block;
                }

                @media all and (max-width: 768px) {
                    font-size: 16px;
                }
            }

            h1 {
                font-size: 58px;
                font-weight: 300;
                line-height: 62px;

                strong {
                    color: $orange;
                }

                @media all and (max-width: 768px) {
                    font-size: 35px;
                    line-height: 40px;
    
                    br {
                        content: '';
    
                        &::after {
                            content: ' ';
                        }
                    }
                }
            }
        }

        .bottom {
            display: flex;
            justify-content: flex-end;

            p {
                width: 440px;
                font-size: 15px;
                font-weight: 300;
                line-height: 22px;
            }
        }
    }
}