#insight {
    text-align: center;

    h1 {
        font-size: 58px;
        font-weight: 300;
        line-height: 62px;
        color: $green;
        max-width: 900px;
        padding-top: 160px;
        margin: 0 auto 20px auto;

        @media all and (max-width: 768px) {
            font-size: 35px;
            line-height: 40px;

            br {
                content: '';

                &::after {
                    content: ' ';
                }
            }
        }
    }

    .date {
        font-size: 15px;
        font-weight: 300;
        color: $orange;
        margin-bottom: 65px;
    }

    img {
        border-radius: 10px;
        max-width: 100%;
        margin-bottom: 65px;
    }

    .content {
        width: 100%;
        max-width: 895px;
        margin: auto;
        text-align: left;

        p {
            font-size: 19px;
            font-weight: 300;
            line-height: 24px;
            margin-bottom: 20px;
            color: #9A9A9A;
        }

        h2 {
            color: $green;
            font-size: 19px;
            font-weight: 300;
            line-height: 24px;
            margin-bottom: 20px;
        }
    }

    .social {
        border-top: 1px solid #D6D6D6;
        padding-top: 20px;
        max-width: 895px;
        margin: 120px auto 0 auto;
        text-align: left;

        @media all and (max-width: 768px) {
            margin: 60px auto 0 auto;
        }

        p {
            font-size: 15px;
            font-weight: 300;
            color: $orange;
            margin-bottom: 50px;

            @media all and (max-width: 768px) {
                margin-bottom: 20px;
            }
        }

        ul {
            display: flex;
            justify-content: space-between;

            @media all and (max-width: 768px) {
                display: block;
            }

            li {
                position: relative;

                @media all and (max-width: 768px) {
                    margin-bottom: 20px;
                }

                &.sep {              
                    width: 1px;
                    height: 30px;
                    background-color: $orange;

                    @media all and (max-width: 768px) {
                        display: none;
                    }
                }

                a {
                    font-size: 19px;
                    font-weight: 300;                  
                    color: #9A9A9A;
                    text-decoration: none;

                    &.green {
                        color: rgb(97, 191, 97) !important;
                    }

                    &:hover {
                        color: $green;
                    }
                }
            }
        }
    }
}